*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

.header {
    background: rgb(255,230,0);
    background: linear-gradient(171deg, rgba(255,230,0,1) 0%, rgba(255,124,34,1) 100%);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 28px;
    color: white;
}


.container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    padding: 40px;
}

.container__main, .container__main2 {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
    padding-top: 7px;
    box-shadow: 0px 0px 4px rgba(89,73,30,0.1);
    margin-bottom: 20px;
}

.shop__header, .shop__header2{
    height: 30px;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
    border-radius: 5px;
}

.shop__header span {
    background-image: url("/DESCUENTOS/carrito.svg");
    width: 20px;
    height: 20px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.main, .main2{
    margin-top: 20px;
    color: white;
    height: auto;
    box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.main label, .main2 label {
    color: black;
    display: inline-block;
    color: rgb(170, 172, 172);
    
}

.labelPrecio, .labelPrecioC {
    margin-right: 22px;
    margin-bottom: 10px;
    
}

.getPrecio{
    width: 100px;
    position: relative;
    left: 20px;
    padding: 3px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
}

.getPrecioC {
    width: 100px;
    position: relative;
    left: 20px;
    padding: 3px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
}

.getDescuento {
    width: 100px;
    position: relative;
    left: 20px;
    padding: 3px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
}

.getCupon {
    width: 100px;
    position: relative;
    left: 30px;
    padding: 3px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
}
.calcular {
    width: 130px;
    margin-top: 15px;
    background-color: rgb(255, 199, 43);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid rgb(252, 191, 26);
    color: white;
}

.calcular:hover{
    box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
}

.get, .get2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
}

.get label, .get2 label {
    font-size: 18px;
    color: rgb(131, 130, 128);
    
}
.resultado , .resultados {
    margin-left: 10px;
    width: 100px;
    height: 20px;
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    color: black;
    padding: 3px;
    padding-left: 5px;
}
